<form [formGroup]="profileForm" (ngSubmit)="submit()">
    <div>
        <label for="name">nome:</label>
        <input type="text" id="name" formControlName="name">
    </div>
    <div>
        <label for="surname">cognome:</label>
        <input type="text" id="surname" formControlName="surname">
    </div>

    <div formGroupName="adress">
        <h3>Indirizzo:</h3>
        <div>
            <label for="city">città:</label>
            <input type="text" id="city" formControlName="city">
        </div>
        <div>
            <label for="street">strada:</label>
            <input type="text" id="street" formControlName="street">
        </div>
        <div>
            <label for="number">numero:</label>
            <input type="number" id="number" formControlName="number">
        </div>
    </div>
    <div formArrayName="aliases">
        <h3>aliases:</h3>
        <button (click)="addAlias()">+</button>
        @for (alias of getAliases().controls; track alias; let i = $index) {
        <div>
            <label for="aliases-{{i}}">alias:</label>
            <input type="text" id="aliases-{{i}}" [formControlName]="i">
            <button (click)="removeAlias(i)">-</button>
        </div>
        }
    </div>
    <div formArrayName="children">
        <h3>figli:</h3>
        <button (click)="addChild()">+</button>
        @for (child of getChildren().controls; track child; let i = $index) {
        <div [formGroupName]="i">
            <div>
                <label for="name">nome:</label>
                <input type="text" id="name" formControlName="name">
            </div>
            <div>
                <label for="surname">cognome:</label>
                <input type="text" id="surname" formControlName="surname">
            </div>
            <div>
                <label for="age">età:</label>
                <input type="number" id="age" formControlName="age">
            </div>

            <button (click)="removeChild(i)">-</button>
        </div>
        }
    </div>



    <button type="submit" [disabled]="profileForm.invalid">invia</button>
</form>